{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h2>All Categories</h2>
    {% for message in app.flashes('message') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <a class="btn btn-secondary" href="{{ path("categories_new") }}" class="nav-link">Add Category</a>
    {% for category in categories %}
        <h4><a href="/categories/{{ category.id }}">{{ category.name }}</a></h4>
        <hr>
    {% endfor %}
{% endblock %}
