{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h2>Create New Category</h2>
    {{ form_start(formBuilder) }}
    {{ form_widget(formBuilder) }}
    {{ form_end(formBuilder) }}
    <hr>
    <a class="btn btn-danger" href="{{ path("categories_index") }}">Go Back</a>
{% endblock %}
