{% extends 'base.html.twig' %}

{% block title %}Show Categories{% endblock %}

{% block body %}
    <h1>Show Category</h1>
    <strong>Category: </strong><h2>{{ category.name }}</h2>
        {% if category.isArticleCollectionEmpty %}
            <h4>No Articles Written Yet</h4>
        {% endif %}
    {% for index,article in categoryArticles %}
        <strong>Article {{ index + 1 }}: </strong><h4><a
                href=" {{ path("articles_show", {id:article.id}) }}">{{ article.name }}</a></h4>
        <hr>
    {% endfor %}

    <a class="btn btn-danger" href="{{ path("categories_index") }}">Go Back</a>
{% endblock %}
