<div class="navbar navbar-expand-lg navbar-dark bg-success mb-4">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav"></div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{{ path("categories_index") }}" class="nav-link">Categories</a>
            </li>
            <li class="nav-item">
                <a href="{{ path("articles_index") }}" class="nav-link">Articles</a>
            </li>
            <!-- <li class="nav-item">
                <a href="{{ path("articles_new") }}" class="nav-link">New Article</a>
            </li> -->
            <!-- <li class="nav-item">
                <a href="{{ path("categories_new") }}" class="nav-link">Add Category</a>
            </li> -->
        </ul>
    </div>
</div>