{% extends "base.html.twig" %}

{% block title %}
    Edit Article
{% endblock %}

{% block body %}
    <h2>Edit Article</h2>
    <strong>Article Image: </strong><h2><img width="100" src="{{ "/uploads/" ~ article.image }}" alt="Article image"/></h2>
    {{ form_start(formBuilder) }}
    {{ form_row(formBuilder.name) }}
    {{ form_row(formBuilder.summary) }}
    {{ form_row(formBuilder.description) }}
    {{ form_row(formBuilder.category) }}
    {{ form_row(formBuilder.image) }}
    {{ form_row(formBuilder.save, { 'label': 'Edit' }) }}
    {{ form_end(formBuilder) }}
    <hr>
    <a class="btn btn-danger" href="{{ path("articles_index") }}">Go Back</a>
{% endblock %}