{% extends "base.html.twig" %}

{% block title %}
    Articles
{% endblock %}

{% block body %}
    <h2>All Articles</h2>
    <a class="btn btn-secondary" href="{{ path("articles_new") }}" class="nav-link">Create New Article</a>
    {% for message in app.flashes('message') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% if articles %}
        <table id="articles_table" class="table table-striped">
            <thead>
            <th>Article Name</th>
            <th>Category</th>
            <th>Actions</th>
            <th>Created On |
                <span><a href="{{ path("articles_index",{filter:"category-desc"}) }}"><i class="arrow down"></i> Sort By Category</a></span>
                <span><a href="{{ path("articles_index",{filter:"category-asc"}) }}"><i class="arrow up"></i></a></span>
            </th>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td>
                        {{ article.name }}
                    </td>
                    <td>
                        {{ article.category }}
                    </td>
                    <td>
                        <a href="{{ path("articles_show", {id:article.id}) }}" class="btn btn-light">SHOW</a>
                        <a href="{{ path("articles_update", {id:article.id}) }}" class="btn btn-info">EDIT</a>
                        <a href="#" class="btn btn-danger delete-article" data-id="{{ article.id }}">DELETE</a>
                    </td>
                    <td>
                        {{ article.createdAt|date("d-m-Y H:i") }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No Articles Have Been Written Yet</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/main.js" defer></script>
{% endblock %}