{% extends "base.html.twig" %}

{% block title %}
    New Article
{% endblock %}

{% block body %}
    <h2>Create New Article</h2>
    {{ form_start(formBuilder) }}
    {{ form_widget(formBuilder) }}
    {{ form_end(formBuilder) }}
{% endblock %}