{% extends "base.html.twig" %}

{% block title %}
    View Article
{% endblock %}

{% block body %}
    <h1>Show Article</h1>
    <strong>Article Image: </strong><h2><img width="100" src="{{ "/uploads/" ~ article.image }}" alt="Article image"/></h2>
    <strong>Article Name: </strong><h2>{{ article.name }}</h2>
    <hr>
    <strong>Article Summary: </strong><h2>{{ article.summary }}</h2>
    <hr>
    <strong>Article Description: </strong><h2>{{ article.description }}</h2>
    <hr>
    <a class="btn btn-danger" href="{{ path("articles_index") }}">Go Back</a>
{% endblock %}